*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e0e0e;
  color: #ffffff;
  font-family: sans-serif;
}

